@model IEnumerable<Hotel.Models.TempRooms>

<table style="width: 100%">
    <thead>
        <tr>
            <th>
                Действие
            </th>
            <th>
                Класс помещения
            </th>
            <th>
                Помещение №
            </th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <span id="btnDecline" class="glyphicon glyphicon-remove" onclick="DeleteRoom(@item.Room, '@item.CategoryClass ')"></span>&nbsp;
                </td>
                <td>
                    @item.CategoryClass
                </td>
                <td>
                    @item.Room
                </td>
            </tr>
        }
    </tbody>
</table>
