@{
    ViewBag.Title = "Справочная информация о гостинице";
}
<h1>
    <span class="heading">
        Справочная информация о гостинице
    </span>
</h1>

<h3>НОМЕРНОЙ ФОНД</h3>
<p>
    Все 148 номеров отеля оснащены системой кондиционирования, бесплатным Wi-Fi, ЖК-телевизором с 50 каналами, бытовой техникой, личным сейфом и шторами блэкаут.
</p>

<h3>ОРГАНИЗАЦИЯ МЕРОПРИЯТИЙ</h3>
<p>
    В отеле расположены конференц-залы и переговорная комната для проведения встреч любого формата.
    Наши сотрудники с удовольствием возьмут на себя все хлопоты по организации Вашего мероприятия.
</p>

<h3>РЕСТОРАНЫ И БАРЫ</h3>
<p>
    На территории отеля располагается ресторан средиземноморской и европейской кухни
    и уютный лобби-бар.
</p>

