@{
    ViewBag.Title = "Contact";
}
<h2>Мы всегда на связи</h2>
<h3>Страница контактов</h3>

<address>
    пр. Мира, 120, офис 334<br />
    Ново-Савиновский р-н, РТ (г. Казань) 420000<br />
    <abbr title="Phone">Бронирование по номеру:</abbr>
    +7 (423) 249-12-52
</address>

<address>
    <strong>Поддержать проект:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Отдел маркетинга:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

<h4>Если хотите с нами работать, оставьте заявку по @Html.ActionLink("ссылке", "RegistrationEmp", "Account")</h4>