@model IEnumerable<Hotel.ViewModel.RoomDetailsView>
@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/home.css" rel="stylesheet" />
<script src="~/Scripts/load-change.js"></script>
<div style="margin-top: 20px">
    <h3 style="text-align: center;">
        Отель "Дружелюбное место"
    </h3>
    <img src="@Url.Content("~/Image/Preview.jpg")" class="img-responsive" />
</div>




