@model Hotel.Models.Change

<div id="divNewChange" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 600px">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                <h4 class="modal-title">Открытие смены</h4>
            </div>
            <div class="modal-body">
                <form id="formChange">
                    <div class="container" style="width: 300px; height: 300px">
                       
                        <div class="row">
                            <div class="form-group col-md-6">
                                @Html.Label("Сегодня вы первый раз вошли в систему.")
                                @Html.Label("Для доступа к сервису, подвердите открытие смены ↓↓↓")
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="btnSave" type="button" class="btn btn-success">Подтвердить</button>&nbsp;
                @*<button type="button" data-dismiss="modal" class="btn btn-danger">Закрыть</button>*@
            </div>
        </div>
    </div>
</div>
